.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.product-gallery {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  gap: 10px; /* Space between product cards */
}
.product-gallery p {
  color: black;
}
.product-card {
  flex: 0 0 calc(16.66% - 10px); /* 6 items per row with gap */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;

  padding: 10px;
  background-color: #fff;
  position: relative; /* Position relative for absolute positioning of button */
  transition: transform 0.2s; /* Smooth scaling effect on hover */
}

.product-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.btn {
  background-color: black;
}
.button-container {
  display: none; /* Hide button by default */
  color: black;
  background-color: #fff;
}

.product-card:hover .button-container {
  display: block; /* Show button on hover */
}

.nav-buttons {
  margin-top: 20px;
}

.nav-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 5px;
}

.nav-button:hover {
  background-color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
  .product-gallery {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: center; /* Center items */
  }

  .product-card {
    flex: 1 1 90%; /* Take up most of the width on mobile */
    margin-bottom: 20px; /* Space between cards */
  }

  .product-card img {
    border-radius: 8px; /* Maintain rounded corners */
  }

  .nav-buttons {
    width: 100%; /* Full width for navigation buttons */
    display: flex;
    justify-content: space-between; /* Space out buttons */
  }

  .nav-button {
    flex: 1; /* Make buttons take equal space */
    margin: 0 5px; /* Margin between buttons */
  }
}

@media (min-width: 769px) {
  .product-card {
    flex: 0 0 calc(16.66% - 10px); /* 6 items per row on larger screens */
  }
}
